# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\githubRepos\Artificial-Intelligence-Labs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
